<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width">
        <meta charset="utf-8">
        <link rel="stylesheet" href="/js/commons.css" />
        {{- defineContent('styles') }}
    </head>
    <body>
        {{- body }}
        <script src="/js/commons.js" type="text/javascript"></script>
        {{- defineContent('scripts') }}
    </body>
</html>