
@import './settings';

.alertbox {
	display: block;
	border: 1px solid $border-color;
	background-color: #f5f5f5;
	padding: 20px 20px 20px 50px;
	background-image:url('alert.jpg');
    background-size: 25px;
    background-position: 10px 50%;
    background-repeat: no-repeat;
}